<div id="modal-content">
    <div id="TaskForm" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Задача</h4>
                </div>
                <div class="modal-body">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#info" aria-controls="info" role="tab"
                                                                      data-toggle="tab">Информация</a></li>
                            <li role="presentation"><a href="#state" aria-controls="state" role="tab" data-toggle="tab">Состояния</a>
                            </li>
                            <li role="presentation"><a href="#note" aria-controls="note" role="tab" data-toggle="tab">Комментарии</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="info">
                                {{>shared/wTaskInfo}}

                            </div>
                            <div role="tabpanel" class="tab-pane" id="state">
                                {{>shared/wTaskState}}
                            </div>
                            <div role="tabpanel" class="tab-pane" id="note">
                                {{>shared/wTaskNote}}
                                {{>shared/wNewNoteForm}}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->