<div id="NewNoteForm">
    <div class="row vcenter">
        <div class="col-md-9">
            <div class="form-group">
                <input type="text" class="form-control" id="tasknote"
                       placeholder="" value="">
            </div>
        </div>
        <div class="col-md-3">
            <button id="AddNoteButton" type="button" class="btn btn-success btn-block">
                Добавить
            </button>
        </div>
    </div>
</div>
