<div id="TaskFormNote">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Дата</th>
            <th>Комментарий</th>
            <th>Автор</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>01.12.2016</td>
            <td>Лови задачу</td>
            <td>Я</td>
        </tr>
        <tr>
            <td>01.12.2016</td>
            <td>Тяжеловато для меня</td>
            <td>Петров</td>
        </tr>
        <tr>
            <td>01.12.2016</td>
            <td>Сидоров, не подкачай!</td>
            <td>Я</td>
        </tr>
        <tr>
            <td>01.12.2016</td>
            <td>Всегда готов!</td>
            <td>Сидоров</td>
        </tr>
        </tbody>
    </table>
</div>